:root {
    --font-family-main: "Jost", sans-serif;

    // size xs
    --font-size-xs: 20px;
    --font-line-xs: 28px;
    --font-xs: var(--font-size-xs) / var(--font-line-xs) var(--font-family-main);

    // size s
    --font-size-s: 24px;
    --font-line-s: 32px;
    --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);

    // size m
    --font-size-m: 26px;
    --font-line-m: 34px;
    --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);

    // size l
    --font-size-l: 32px;
    --font-line-l: 40px;
    --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);

    // size xl
    --font-size-xl: 44px;
    --font-line-xl: 52px;
    --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);

    // Размеры
    --navbar-height: 80px;

    // z-индексы

    // Цвета
}

@media screen and (max-width: 1500px) {
    :root {
        // size xs
        --font-size-xs: 16px;
        --font-line-xs: 22px;
        --font-xs: var(--font-size-xs) / var(--font-line-xs) var(--font-family-main);
    
        // size s
        --font-size-s: 20px;
        --font-line-s: 28px;
        --font-s: var(--font-size-s) / var(--font-line-s) var(--font-family-main);
    
        // size m
        --font-size-m: 22px;
        --font-line-m: 30px;
        --font-m: var(--font-size-m) / var(--font-line-m) var(--font-family-main);
    
        // size l
        --font-size-l: 28px;
        --font-line-l: 36px;
        --font-l: var(--font-size-l) / var(--font-line-l) var(--font-family-main);
    
        // size xl
        --font-size-xl: 40px;
        --font-line-xl: 48px;
        --font-xl: var(--font-size-xl) / var(--font-line-xl) var(--font-family-main);
    
        // Размеры
        --navbar-height: 60px;
    }
}

@media screen and (max-width: 600px) {
    :root {
        // Размеры
        --navbar-height: 50px;
    }
}