.FirstPage{
    width: 400px;
    max-height: 300px;
    text-align: center;
    font: var(--font-l);
    color: var(--text-color);
}

.app_light_theme{
    .accentWord{
        color: var(--text-color);
        background: var(--accent-color);
    }
}

.app_dark_theme{
    .accentWord{
        color: var(--text-optional-light);
    }
}