:root,
.app_dark_theme {
    --accent-color: #853AFF;
    --accent-color-optional: #853AFF;

    --text-color: rgb(255, 255, 255);
    --text-optional: #949494;
    --text-optional-light: #853AFF;

    --mobile-slider-main-page-block: #140f37;

    // background
    --bg-navbar: rgba(25,24,32,1);
    --bg-about: linear-gradient(0deg, rgba(20,15,55,1) 0%, rgba(25,24,32,1) 100%);

    --bg-skills: linear-gradient(0deg, rgba(18,52,54,1) 0%,rgba(20,15,55,1) 100%);
    --bg-portfolio: linear-gradient(0deg, rgba(17,10,63,1) 0%,rgba(3,31,21,1) 100%);
    --bg-experience: linear-gradient(0deg, rgba(3,31,21,1) 0%,rgba(18,52,54,1) 100%);
    --bg-contacts: linear-gradient(0deg, rgba(25,24,32,1) 0%,rgba(17,10,63,1) 100%);
    --bg-end: rgba(25,24,32,1);
}
