:root,
.app_light_theme {
    --accent-color: #FFF500;
    --accent-color-optional: #9F3ED5;

    --text-color: #000000;
    --text-optional: #949494;
    --text-optional-light: #9F3ED5;

    --mobile-slider-main-page-block: #FFF500;

    // background
    --bg-navbar: white;
    --bg-about: white;
    --bg-skills: white;
    --bg-portfolio: white;
    --bg-experience: white;
    --bg-contacts: white;
    --bg-end: white;
}
