.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100000000;
    height: var(--navbar-height);
    background: var(--bg-navbar);
}

.navbarItems{
    width: 800px;
}

.item{
    cursor: pointer;
}

.burger{
    display: none !important;
    width: 23px;
    height: 60px;
    cursor: pointer;
}

.burger_one, .burger_two, .burger_three{
    width: 40px;
    height: 4px;

    background: var(--text-color);
}

.burgerWrapper{
    width: 23px;
    height: 60px;
}

@media screen and (max-width: 1500px) {
    .navbarItems{
        width: 600px;
    }
}

@media screen and (max-width: 1100px) {
    .navbarItems{
        width: 500px;
    }
}

@media screen and (max-width: 800px) {
    .navbarItems{
        display: none !important;
    }

    .burger{
        display: flex !important;
    }
}