.experienceListItem{
    padding-left: 48px;
    border-left: 2px solid var(--accent-color-optional);
}

.date{
    padding: 16px 20px;
    border: 2px solid var(--accent-color-optional);
    border-radius: 5px;
}

.leftColumn{
    width: 600px;
}